In [1]:
#https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

In [2]:
#import necessary libraries
import numpy as np 
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.offline as offline
import plotly.graph_objs as go

In [3]:
plotly.tools.set_credentials_file(username='akurgat', api_key='Jud1SQj1lbS6w5pznJgt')

In [4]:
df = pd.read_excel('de.xlsx')
df.head()

,city,lat,lng,country,iso2,admin,capital,population,population_proper
0,Berlin,52.516667,13.400000,Germany,DE,Berlin,primary,3406000.0,3094014.0
1,Stuttgart,48.782343,9.180819,Germany,DE,Baden-W端rttemberg,admin,2944700.0,606588.0
2,Frankfurt,50.115520,8.684167,Germany,DE,Hesse,minor,2895000.0,679664.0
3,Mannheim,49.496706,8.479547,Germany,DE,Baden-W端rttemberg,minor,2362000.0,313174.0
4,Hamburg,53.575323,10.015340,Germany,DE,Hamburg,admin,1757000.0,1739117.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 9 columns):
city                 365 non-null object
lat                  365 non-null float64
lng                  365 non-null float64
country              365 non-null object
iso2                 365 non-null object
admin                365 non-null object
capital              359 non-null object
population           57 non-null float64
population_proper    57 non-null float64
dtypes: float64(4), object(5)
memory usage: 25.7+ KB

In [6]:
df.describe()

              lat         lng    population  population_proper
count  365.000000  365.000000  5.700000e+01       5.700000e+01
mean    50.737965    9.866521  5.942323e+05       3.531684e+05
std      1.738199    2.056172  7.604153e+05       4.789344e+05
min     47.498475    6.084726  5.152600e+04       4.190100e+04
25%     49.353573    8.172358  1.643590e+05       1.204510e+05
50%     50.804337    9.786893  2.694270e+05       2.122070e+05
75%     51.938144   11.413255  7.224900e+05       4.868540e+05
max     54.784310   15.000000  3.406000e+06       3.094014e+06

In [7]:
population = list(df['population'].value_counts().index)
population

[235390.0,
 1220000.0,
 426590.0,
 588462.0,
 617126.0,
 2362000.0,
 1742135.0,
 358989.0,
 104659.0,
 184997.0,
 167458.0,
 312633.0,
 172955.0,
 302643.0,
 51526.0,
 680543.0,
 137751.0,
 97930.0,
 237844.0,
 92809.0,
 104712.0,
 1275000.0,
 722490.0,
 3406000.0,
 617515.0,
 164359.0,
 737304.0,
 139419.0,
 269427.0,
 163325.0,
 331906.0,
 1004000.0,
 61054.0,
 203254.0,
 770001.0,
 168561.0,
 56153.0,
 218095.0,
 82358.0,
 2944700.0,
 724909.0,
 244715.0,
 1276757.0,
 229826.0,
 1757000.0,
 254889.0,
 231268.0,
 270184.0,
 61368.0,
 105067.0,
 776525.0,
 542529.0,
 2895000.0,
 203080.0,
 377487.0,
 289924.0,
 96641.0]

In [8]:
data = []
for persons in population:
    population_data = dict(
            lat = df.loc[df['population'] == persons,'lat'],
            lon = df.loc[df['population'] == persons,'lng'],
            name = persons,
            marker = dict(size = 8, opacity = 0.5),
            type = 'scattermapbox'
        )
    data.append(population_data)

mapbox_access_token = 'pk.eyJ1IjoiYWt1cmdhdCIsImEiOiJjanoyc3ByZWwwMGJ2M2NzNGM1dTlocGZzIn0.Ic2lo-f1OxZ1dqBxCATgzg'

layout = dict(
    height = 800,
    margin = dict(t=0, b=0, l=0, r=0),
    font = dict(color='#FFFFFF', size=11),
    paper_bgcolor = '#000000',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='light'
    ),
)




layout['title'] = 'Population Density'

In [9]:
figure = dict(data=data, layout=layout)
py.iplot(figure, filename="Germany's Population")

c:\program files\python37\lib\site-packages\IPython\core\display.py:694: UserWarning:

Consider using IPython.display.IFrame instead