In [1]:
#https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

In [2]:
#import necessary libraries
import numpy as np 
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.offline as offline
import plotly.graph_objs as go

In [3]:
plotly.tools.set_credentials_file(username='akurgat', api_key='Jud1SQj1lbS6w5pznJgt')

In [4]:
df = pd.read_excel('jp.xlsx')
df.head()

,city,lat,lng,country,iso2,admin,capital,population,population_proper
0,Tokyo,35.685000,139.751389,Japan,JP,Tōkyō,primary,35676000.0,8336599.0
1,Ōsaka,34.683333,135.516667,Japan,JP,Ōsaka,admin,11294000.0,2592413.0
2,Yokohama,35.433333,139.650000,Japan,JP,Kanagawa,admin,3697894.0,3697894.0
3,Nagoya,35.183333,136.900000,Japan,JP,Aichi,admin,3230000.0,2191279.0
4,Fukuoka,33.600000,130.416667,Japan,JP,Fukuoka,admin,2792000.0,1392289.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
city                 77 non-null object
lat                  77 non-null float64
lng                  77 non-null float64
country              77 non-null object
iso2                 77 non-null object
admin                77 non-null object
capital              55 non-null object
population           61 non-null float64
population_proper    61 non-null float64
dtypes: float64(4), object(5)
memory usage: 5.5+ KB

In [6]:
df.describe()

             lat         lng    population  population_proper
count  77.000000   77.000000  6.100000e+01       6.100000e+01
mean   36.117589  136.691162  1.428345e+06       6.881218e+05
std     3.417925    4.107433  4.726810e+06       1.197202e+06
min    26.166667  127.666667  8.233500e+04       3.259800e+04
25%    34.232220  133.050000  2.487070e+05       2.338700e+05
50%    35.500000  137.016667  3.573090e+05       3.255000e+05
75%    37.900000  140.116667  7.015610e+05       5.793990e+05
max    43.803056  144.397259  3.567600e+07       8.336599e+06

In [7]:
population = list(df['population'].value_counts().index)
population

[977023.0,
 500000.0,
 443760.0,
 294237.0,
 3697894.0,
 197540.0,
 245786.0,
 298394.0,
 100446.0,
 248707.0,
 866092.0,
 198566.0,
 1437266.0,
 533541.0,
 2045000.0,
 272209.0,
 92465.0,
 334223.0,
 143792.0,
 718232.0,
 905238.0,
 2792000.0,
 155676.0,
 440006.0,
 295172.0,
 320069.0,
 324384.0,
 356612.0,
 594311.0,
 412895.0,
 536976.0,
 435455.0,
 2250000.0,
 35676000.0,
 196991.0,
 357309.0,
 701561.0,
 82335.0,
 156811.0,
 170077.0,
 302984.0,
 174972.0,
 113137.0,
 448907.0,
 667752.0,
 1805000.0,
 335570.0,
 2544000.0,
 332812.0,
 555352.0,
 11294000.0,
 551249.0,
 1528478.0,
 344871.0,
 99820.0,
 3230000.0,
 337931.0,
 353892.0,
 579399.0,
 569797.0,
 154098.0]

In [8]:
data = []
for persons in population:
    population_data = dict(
            lat = df.loc[df['population'] == persons,'lat'],
            lon = df.loc[df['population'] == persons,'lng'],
            name = persons,
            marker = dict(size = 8, opacity = 0.5),
            type = 'scattermapbox'
        )
    data.append(population_data)

mapbox_access_token = 'pk.eyJ1IjoiYWt1cmdhdCIsImEiOiJjanoyc3ByZWwwMGJ2M2NzNGM1dTlocGZzIn0.Ic2lo-f1OxZ1dqBxCATgzg'

layout = dict(
    height = 800,
    margin = dict(t=0, b=0, l=0, r=0),
    font = dict(color='#FFFFFF', size=11),
    paper_bgcolor = '#000000',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='light'
    ),
)




layout['title'] = 'Population Density'

In [9]:
figure = dict(data=data, layout=layout)
py.iplot(figure, filename="Japan's Population")

c:\program files\python37\lib\site-packages\IPython\core\display.py:694: UserWarning:

Consider using IPython.display.IFrame instead