In [10]:
#https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

In [11]:
#import necessary libraries
import numpy as np 
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.offline as offline
import plotly.graph_objs as go

In [12]:
plotly.tools.set_credentials_file(username='akurgat', api_key='Jud1SQj1lbS6w5pznJgt')

In [13]:
df = pd.read_excel('ke.xlsx')
df.head()

,city,lat,lng,country,iso2,admin,capital,population,population_proper
0,Nairobi,-1.283333,36.816667,Kenya,KE,Nairobi City,primary,3010000,2750547
1,Mombasa,-4.054655,39.663588,Kenya,KE,Mombasa,admin,882000,799668
2,Kisumu,-0.102210,34.761714,Kenya,KE,Kisumu,admin,395615,216479
3,Nakuru,-0.283333,36.066667,Kenya,KE,Nakuru,admin,364727,259903
4,Eldoret,0.520356,35.269925,Kenya,KE,Uasin Gishu,NaN,353381,218446

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
city                 36 non-null object
lat                  36 non-null float64
lng                  36 non-null float64
country              36 non-null object
iso2                 36 non-null object
admin                36 non-null object
capital              8 non-null object
population           36 non-null int64
population_proper    36 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.6+ KB

In [15]:
df.describe()

             lat        lng    population  population_proper
count  36.000000  36.000000  3.600000e+01       3.600000e+01
mean   -0.615214  37.107520  1.813990e+05       1.461391e+05
std     1.770873   1.945835  5.124263e+05       4.676011e+05
min    -4.054655  34.154788  4.140000e+02       4.140000e+02
25%    -1.573151  35.279834  2.068550e+04       1.360100e+04
50%    -0.492332  37.010212  4.915500e+04       3.481550e+04
75%     0.109738  38.487166  9.522500e+04       6.510225e+04
max     3.516700  40.899148  3.010000e+06       2.750547e+06

In [16]:
population = list(df['population'].value_counts().index)
population

[58620,
 882000,
 67861,
 2004,
 80339,
 3010000,
 43983,
 24525,
 51084,
 45771,
 20219,
 2376,
 36487,
 24837,
 5380,
 28547,
 63426,
 47226,
 55962,
 144925,
 36142,
 99322,
 364727,
 11219,
 71285,
 13193,
 91248,
 17581,
 16460,
 20841,
 353381,
 98852,
 150495,
 414,
 395615,
 94016]

In [17]:
data = []
for persons in population:
    population_data = dict(
            lat = df.loc[df['population'] == persons,'lat'],
            lon = df.loc[df['population'] == persons,'lng'],
            name = persons,
            marker = dict(size = 8, opacity = 0.5),
            type = 'scattermapbox'
        )
    data.append(population_data)

mapbox_access_token = 'pk.eyJ1IjoiYWt1cmdhdCIsImEiOiJjanoyc3ByZWwwMGJ2M2NzNGM1dTlocGZzIn0.Ic2lo-f1OxZ1dqBxCATgzg'

layout = dict(
    height = 800,
    margin = dict(t=0, b=0, l=0, r=0),
    font = dict(color='#FFFFFF', size=11),
    paper_bgcolor = '#000000',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='light'
    ),
)




layout['title'] = 'Population Density'

In [18]:
figure = dict(data=data, layout=layout)
py.iplot(figure, filename="Kenya's Population")