In [1]:
#https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

In [2]:
#import necessary libraries
import numpy as np 
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.offline as offline
import plotly.graph_objs as go

In [3]:
plotly.tools.set_credentials_file(username='akurgat', api_key='Jud1SQj1lbS6w5pznJgt')

In [4]:
df = pd.read_excel('nz.xlsx')
df.head()

,city,lat,lng,country,iso2,admin,capital,population,population_proper
0,Auckland,-36.866667,174.766667,New Zealand,NZ,NaN,NaN,1377200,395982
1,Wellington,-41.300000,174.783333,New Zealand,NZ,NaN,primary,393400,393400
2,Christchurch City,-43.533333,172.633333,New Zealand,NZ,Canterbury,NaN,363200,363200
3,Waitakere,-36.850000,174.550000,New Zealand,NZ,NaN,NaN,208100,208100
4,Northcote,-36.815278,174.745833,New Zealand,NZ,NaN,NaN,205605,205605

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
city                 36 non-null object
lat                  36 non-null float64
lng                  36 non-null float64
country              36 non-null object
iso2                 36 non-null object
admin                10 non-null object
capital              1 non-null object
population           36 non-null int64
population_proper    36 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.6+ KB

In [6]:
df.describe()

             lat         lng    population  population_proper
count  36.000000   36.000000  3.600000e+01          36.000000
mean  -40.488022  164.250851  1.026823e+05       75426.277778
std     2.872492   58.470881  2.378178e+05      108810.504773
min   -46.428681 -176.533333  3.000000e+02         300.000000
25%   -42.412778  172.370850  9.264000e+03        9264.000000
50%   -40.491667  174.775000  2.675000e+04       26750.000000
75%   -38.170833  175.554167  8.740000e+04       87400.000000
max   -35.216667  178.004167  1.377200e+06      395982.000000

In [7]:
population = list(df['population'].value_counts().index)
population

[52500,
 6756,
 18700,
 19550,
 121500,
 43200,
 3240,
 22600,
 27200,
 1857,
 57800,
 3078,
 20200,
 117700,
 3900,
 102400,
 82400,
 208100,
 5856,
 1377200,
 34300,
 393400,
 49200,
 10100,
 26300,
 60800,
 25263,
 205605,
 5037,
 300,
 2172,
 148200,
 11100,
 13350,
 363200]

In [8]:
data = []
for persons in population:
    population_data = dict(
            lat = df.loc[df['population'] == persons,'lat'],
            lon = df.loc[df['population'] == persons,'lng'],
            name = persons,
            marker = dict(size = 8, opacity = 0.5),
            type = 'scattermapbox'
        )
    data.append(population_data)

mapbox_access_token = 'pk.eyJ1IjoiYWt1cmdhdCIsImEiOiJjanoyc3ByZWwwMGJ2M2NzNGM1dTlocGZzIn0.Ic2lo-f1OxZ1dqBxCATgzg'

layout = dict(
    height = 800,
    margin = dict(t=0, b=0, l=0, r=0),
    font = dict(color='#FFFFFF', size=11),
    paper_bgcolor = '#000000',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='light'
    ),
)




layout['title'] = 'Population Density'

In [9]:
figure = dict(data=data, layout=layout)
py.iplot(figure, filename="New Zealand's Population")

c:\program files\python37\lib\site-packages\IPython\core\display.py:694: UserWarning:

Consider using IPython.display.IFrame instead