### 1) What is a Database 

#### A database is an organized collection of data, generally stored and accessed electronically from a computer system. 

#### Examples

* RDBMS   Example systems: Microsoft Access and MySQL
* Document stores/document-oriented database  Example systems: MongoDB
* Key-value stores  Example systems: Redis   Example users: Stack Exchange
* Search engines  Example systems: Elasticsearch  Example users: Vimeo
* Wide column stores/extensible record stores Example systems: Cassandra  Example users: Netflix
* Graph DBMS Example systems: Neo4j and Microsoft Azure Cosmos DB ,Example users: Ebay

https://codebots.com/continuous-modernisation/types-of-databases-and-dbms-with-examples

 
### 2) Two main types of modern databases


*The two main types of modern databases to choose from are  and non-relational, also known as SQL or NoSQL 

#### Relational /SQL

* SQL databases are known as relational databases, and have a table-based data structure, with a strict, predefined schema required.


#### Non-relational/ NoSQL 
* NoSQL databases, or non-relational databases, can be document based, graph databases, key-value pairs, or wide-column stores. NoSQL databases don’t require any predefined schema, allowing you to work more freely with “unstructured data.”






### 3) Database management system Software

####   Database Management System (DBMS) is a software that is used to define, create and maintain a database and provides controlled access to the data.


##### RDMS 
* Relational Database Management System (RDBMS) is an advanced version of a DBMS.
##### RDBMS examples include
* MySQL, 
* Microsoft SQL Server,
* Oracle
* PostgreSQL,

# Installing MySQL

Download Link: 
https://dev.mysql.com/downloads/windows/installer/8.0.html


Windows (x86, 32-bit), MSI Installer

# Retreving Data

# the database 
USE jumiaa_store;  

#select all columns 
SELECT *

# the table 
FROM customers

!['sql'](sql.png)

### WHERE

USE jumiaa_store; 

SELECT *
FROM customers 
WHERE customer_id =4

### ORDER BY

USE jumiaa_store; 

SELECT *
FROM customers 
-- WHERE customer_id =4
ORDER BY  city

### SELECT

# SELECT ALL  

SELECT *
FROM customers

# SELECT SPECIFIC COLUMNS 

USE jumiaa_store; 

SELECT first_name, city 
FROM customers

# SELECT SPECIFIC COLUMNS ,+NEW 
USE jumiaa_store; 

SELECT first_name, city ,points, points+10
FROM customers

# AS renaming 

USE jumiaa_store; 

SELECT first_name, city ,points, points+10, points * 400 AS 'Discount'
FROM customers

### WHERE    fillter data

# customer with  more than  1000 points 
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE points > 1000

#types of operators 
<,<=,>,=>,!=,<>

### AND

In [ ]:
USE jumiaa_store; 

SELECT *
FROM customers 
WHERE points > 1000 AND city = 'Nairobi'

In [ ]:
# where total price is greater than 30

USE jumiaa_store; 

SELECT *
FROM order_items 
WHERE order_id > 6 AND unit_price * quantity > 30

### OR

In [ ]:

USE jumiaa_store; 

SELECT *
FROM customers 
WHERE points > 100 OR birth_date = '1990-01-01'

### IN


USE jumiaa_store; 

SELECT *
FROM customers 
WHERE city IN ('Nairobi', 'Cape' ,'Mombasa')

### BETWEEN

USE jumiaa_store; 

SELECT *
FROM customers 
WHERE points BETWEEN 900 AND 2000

### LIKE

# where first name start with J and anything after that  # match character _j
USE jumiaa_store; 

SELECT *
FROM customers 


WHERE first_name LIKE 'J%'

### REGEXP OPERATOR

USE jumiaa_store; 

SELECT *
FROM customers 
WHERE first_name REGEXP 'John'

^ beginning 
$ end 
'^ John|mac|otieno' logical or
'[gim]e'
'[a-h]e' range

### IS NULL

USE jumiaa_store; 

SELECT *
FROM customers 
WHERE phone IS NULL

### ORDER BY

USE jumiaa_store; 

SELECT *, quantity * unit_price AS total_price
FROM order_items
WHERE order_id=2
ORDER BY quantity * unit_price DESC

### LIMIT


USE jumiaa_store; 

SELECT *, quantity * unit_price AS total_price
FROM order_items
WHERE order_id=2
ORDER BY quantity * unit_price DESC
LIMIT 2

# Retreving Data from Multiple tables

### join 2 tables in  the same database

In [ ]:
USE jumiaa_store; 

SELECT *
FROM orders 
JOIN customers ON  orders.customer_id  = customers.customer_id

In [ ]:
USE jumiaa_store; 

SELECT *
FROM orders O
JOIN customers C ON  O.customer_id  = C.customer_id

### two tables in different databases

USE jumiaa_store; 

SELECT *
FROM order_items oi
JOIN jumiaa_inventory.products p
     ON oi.product_id = p.product_id

### Multiple table

USE jumiaa_store; 

SELECT *
FROM orders o
JOIN customers c 
     ON o.customer_id = c.customer_id
JOIN order_statuses os 
    ON o.status  = os.order_status_id