https://ihateregex.io/cheatsheet

In [1]:
import pandas as pd
import re

In [2]:

rawdata = {'data': ['2018-01-01 35 20736.87      Paul',
                    '2017-06-15 67 10567.70      Harry',
                    '2015-07-23 01 3873.90      Noel',
                    '2011-05-12 56 82320.65      John',
                    '2010-03-26 21 28737.01      Sally',
                    '2016-08-19 82 80327.63      Mary',
                    '2018-08-12 90 30467.92     Steve']}
dataf = pd.DataFrame(rawdata, columns = ['data'])
dataf

                                data
0   2018-01-01 35 20736.87      Paul
1  2017-06-15 67 10567.70      Harry
2    2015-07-23 01 3873.90      Noel
3   2011-05-12 56 82320.65      John
4  2010-03-26 21 28737.01      Sally
5   2016-08-19 82 80327.63      Mary
6   2018-08-12 90 30467.92     Steve

In [7]:
dataf['Emp_name']=dataf['data'].str.extract('(([A-Z])\w+)',expand = True)
dataf['Emp_name']

0     Paul
1    Harry
2     Noel
3     John
4    Sally
5     Mary
6    Steve
Name: Emp_name, dtype: object

In [4]:
dataf['Salary'] = dataf['data'].str.extract('(\d\d\d\d\d.\d\d)', expand = True)
dataf['Salary']

0    20736.87
1    10567.70
2         NaN
3    82320.65
4    28737.01
5    80327.63
6    30467.92
Name: Salary, dtype: object

In [5]:
dataf['DOJ'] = dataf['data'].str.extract('(....-..-..)', expand = True)
dataf['DOJ']

0    2018-01-01
1    2017-06-15
2    2015-07-23
3    2011-05-12
4    2010-03-26
5    2016-08-19
6    2018-08-12
Name: DOJ, dtype: object

In [13]:
dataf['DOJo'] = dataf['data'].str.extract(('a-z0-9'), expand = True)
dataf['DOJo']

ValueError: pattern contains no capture groups

In [ ]:
(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})

In [6]:
dataf['depo'] = dataf['data'].str.extract('(\d\d)', expand = True)
dataf['depo']

0    20
1    20
2    20
3    20
4    20
5    20
6    20
Name: depo, dtype: object

In [7]:
dataf.head()

                                data Emp_name    Salary         DOJ depo
0   2018-01-01 35 20736.87      Paul     Paul  20736.87  2018-01-01   20
1  2017-06-15 67 10567.70      Harry    Harry  10567.70  2017-06-15   20
2    2015-07-23 01 3873.90      Noel     Noel       NaN  2015-07-23   20
3   2011-05-12 56 82320.65      John     John  82320.65  2011-05-12   20
4  2010-03-26 21 28737.01      Sally    Sally  28737.01  2010-03-26   20