In [12]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('data/Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.shape

(10000, 14)

In [7]:
X = df.drop(labels=['CustomerId', 'Surname', 'RowNumber', 'Exited'], axis = 1)
y = df['Exited']

In [8]:
X = pd.get_dummies(X, drop_first=True, columns=['Geography','Gender'])
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [9]:
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
X_train.shape

(8000, 11)

In [11]:
X.shape[1]

11

In [14]:
# deepnet
model = Sequential()
model.add(Dense(50, activation='relu', input_dim = X.shape[1]))
model.add(Dense(128, activation='relu'))
model.add(Dense(100, activation="relu"))
model.add(Dense(1, activation = 'sigmoid'))

In [15]:
model.compile(optimizer='adam',
             loss='binary_crossentropy',
             metrics=['accuracy'])

In [16]:
%%time
model.fit(X_train, y_train.to_numpy(), batch_size = 10, epochs = 10, verbose = 1)

Epoch 1/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3911 - accuracy: 0.8389
Epoch 2/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3479 - accuracy: 0.8539
Epoch 3/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8606
Epoch 4/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3313 - accuracy: 0.8651
Epoch 5/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3279 - accuracy: 0.8651
Epoch 6/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3223 - accuracy: 0.8691
Epoch 7/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3183 - accuracy: 0.8701
Epoch 8/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3125 - accuracy: 0.8731
Epoch 9/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3084 - accuracy: 0.8700
Epoch 10/10
800/800 [==============================] - 1s 2ms/step - loss: 0.3022 - accuracy: 0.8740
Wall time: 13.4 s

In [17]:
y_pred = model.predict_classes(X_test)

WARNING:tensorflow:From <ipython-input-17-fdaaf2360398>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [18]:
model.evaluate(X_test, y_test.to_numpy())

63/63 [==============================] - 0s 1ms/step - loss: 0.3682 - accuracy: 0.8510

[0.3682413697242737, 0.8510000109672546]

In [19]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [20]:
confusion_matrix(y_test, y_pred)

array([[1522,   71],
       [ 227,  180]], dtype=int64)

In [21]:
accuracy_score(y_test, y_pred)

0.851

In [22]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train, y_train)
# Make predictions
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.865